<html>
    <head>
        <title>Deshboard</title>
        <link rel="stylesheet" href="../static/css/dstyle.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        
     <div class="menu">
       
        
        <ul>
            
            <li><a href="home"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="expenditure"><i class="fa fa-money"></i>Expenditure</a></li>
            <li><a href="wallet"><i class="fa fa-google-wallet" aria-hidden="true"></i></i>Wallet</a></li>
            <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>logout</a></li>
        </ul>
       
     </div>
     <center><h2>WELLCOME BACK {{name}}!</h2></center>
     <div class="profile">
     
<p> <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Smiley face" width="150" height="150" style="vertical-align:bottom"></p>
     </div>
     <div class="pdtls">
        <fieldset>
            <h3>NAME :{{ name }}</h3><BR>
            <h3>EMAIL:{{email}}</h3>

        </fieldset>

     </div>
     <div class="dimg">
     
        <p> <img src="https://img.freepik.com/free-vector/consumption-expenditure-abstract-concept-illustration-consumer-spending-household-budget-shopping-mall-credit-card-retail-store-shopaholic-compulsive-purchase_335657-173.jpg?w=2000" width="600" height="600" ></p>
     </div>


    </body>
</html>
