<html>
    <head>
        <title>Deshboard</title>
        <link rel="stylesheet" href="../static/css/dstyle.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        
     <div class="menu">
       
        
        <ul>
            
            <li><a href="home"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="expenditure"><i class="fa fa-money"></i>Expenditure</a></li>
            <li><a href="wallet"><i class="fa fa-google-wallet" aria-hidden="true"></i></i>Wallet</a></li>
            <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>logout</a></li>
        </ul>
       
     </div>
     <div class="profile">
     
<p> <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Smiley face" width="300" height="300" style="vertical-align:bottom"></p>
     </div>
     <div class="pdtls">
        <fieldset>
            <h3>NAME :<div class="msg">{{ msg }}</div></h3><BR>
            <h3>EMAIL:{{email}}</h3>

        </fieldset>

     </div>


    </body>
</html>
